#player{
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 250px;
  left: 100px;
  background-image: url('100px x 100px (100 x 100 px).png');
}

#level {
  width: 100%;
  height: 100%;
  position:absolute;
}

#level1 .ground .dirt{
  width: 100%;
  height: 100px;
  background-color: rgb(61, 48, 4);
  position: absolute;
  bottom: 0px;
  right: 0;
}

#level1 .ground .grass{
  width: 100%;
  height: 10px;
  background-color: green;
  position: absolute;
  bottom: 100px;
  right: 0;
}

#level1 .levelBox {
  width: 100px;
  height: 175px;
  background-image: url('OIP.PNG');
  position: absolute;
  bottom: 110px;
  right: 0;
}

#level2 .ground .dirt{
  width: 100%;
  height: 100px;
  background-color: rgb(61, 48, 4);
  position: absolute;
  bottom: 0px;
  right: 0;
}

#level2 .ground .grass{
  width: 100%;
  height: 10px;
  background-color: green;
  position: absolute;
  bottom: 100px;
  right: 0;
}

#level2 .ground .oneplatform {
  width: 100px;
  height: 50px;
  background-color: blue;
  position: absolute;
  bottom: 110px;
  right: 50%;
}

#level2 .levelBox {
  width: 100px;
  height: 175px;
  background-image: url('OIP.PNG');
  position: absolute;
  bottom: 110px;
  right: 0;
}

#level3 .ground .dirt{
  width: 100%;
  height: 100px;
  background-color: rgb(61, 48, 4);
  position: absolute;
  bottom: 0px;
  right: 0;
}
#level3 .ground .oneplatform {
  width: 100px;
  height: 50px;
  background-color: blue;
  position: absolute;
  bottom: 110px;
  right: 50%;
}

#level3 .ground .grass{
  width: 100%;
  height: 10px;
  background-color: green;
  position: absolute;
  bottom: 100px;
  right: 0;
}

#level3 .levelBox {
  width: 100px;
  height: 175px;
  background-image: url('OIP.PNG');
  position: absolute;
  bottom: 110px;
  right: 0;
}

#level4 .ground .dirt{
  width: 100%;
  height: 100px;
  background-color: rgb(61, 48, 4);
  position: absolute;
  bottom: 0px;
  right: 0;
}

#level4 .ground .grass{
  width: 100%;
  height: 10px;
  background-color: green;
  position: absolute;
  bottom: 100px;
  right: 0;
}

#level4 .levelBox {
  width: 100px;
  height: 175px;
  background-image: url('OIP.PNG');
  position: absolute;
  bottom: 110px;
  right: 0;
}


#level5 .ground .dirt{
  width: 100%;
  height: 100px;
  background-color: rgb(61, 48, 4);
  position: absolute;
  bottom: 0px;
  right: 0;
}

#level5 .ground .grass{
  width: 100%;
  height: 10px;
  background-color: green;
  position: absolute;
  bottom: 100px;
  right: 0;
}

#level5 .levelBox {
  width: 100px;
  height: 175px;
  background-image: url('OIP.PNG');
  position: absolute;
  bottom: 110px;
  right: 0;
}

#level6 .ground .dirt{
  width: 100%;
  height: 100px;
  background-color: rgb(61, 48, 4);
  position: absolute;
  bottom: 0px;
  right: 0;
}

#level6 .ground .grass{
  width: 100%;
  height: 10px;
  background-color: green;
  position: absolute;
  bottom: 100px;
  right: 0;
}

#level6 .levelBox {
  width: 100px;
  height: 175px;
  background-image: url('OIP.PNG');
  position: absolute;
  bottom: 110px;
  right: 0;
}

#level7 .ground .dirt{
  width: 100%;
  height: 100px;
  background-color: rgb(61, 48, 4);
  position: absolute;
  bottom: 0px;
  right: 0;
}

#level7 .ground .grass{
  width: 100%;
  height: 10px;
  background-color: green;
  position: absolute;
  bottom: 100px;
  right: 0;
}

#level7 .levelBox {
  width: 100px;
  height: 175px;
  background-image: url('OIP.PNG');
  position: absolute;
  bottom: 110px;
  right: 0;
}

























