body {
  margin: 0;
  height: 100vh;
  position: relative;
  background: #f0f0f0;
  overflow: hidden;
}

#box {
  position: absolute;
  width: 53px;
  height: 50px;
  top: 0;
  left: 100px;
  background-image: url('box');
  background-size: cover;
  background-repeat: no-repeat;
}


#ground {
  width: 100%;
  height: 50px;
  background-color: green;
  position: absolute;
  bottom: 50px;
  left: 0;
}
